.eventcardtxt {
	width: 250px;
	height: 250px;
	background-color: #022C37;
	float: left;
	color: #fff;
}

.eventcardtxt1 {
	width: 48%;
	height: auto;
	background-color: #022C37;
	float: left !important;
	color: #fff;
}

.eventcardtxt2 {
	width: 48%;
	height: 180px;
	background-color: #022C37;
	float: left !important;
	color: #fff;
}

.eventcardtxt hr {
	height: 2px;
	border-color: #39ABCD;
	margin: 10% 30%;
}

.eventcardtxt p {
	margin: 0 10%;
	font-family: 'Arvo';
}
.eventcardtxt h3, h4{
	color: #fff !important;
}

.btn-primary-outline:hover {
	background-color: #39ABCD;
	color: #fff;
}
.box_justfy{
  text-align: justify !important;
}
.eventdatebtn {
	margin: 10px;
	padding: 5px;
	width: 80px;
	height: 80px;
	font-size: 25px;
	float: left;
	text-align: center;
	background-color: #003169;
	color: #fff;
}

.eventdatebtn1 {
	margin: 10px;
	width: 100px;
	height: 40px;
	font-size: 25px;
	float: left;
	text-align: center;
	background-color: #003169;
	color: #fff;
}

.eventdatebtn3 {
	margin-top: 10%;
	width: 200px;
	height: 40px;
	font-size: 25px;
	float: left;
	text-align: center;
	background-color: #003169;
	color: #fff;
}

.eventdatebtn2 {
	width: 80px;
	height: 40px;
	font-size: 20px;
	float: left;
	padding-top: 5px;
	text-align: center;
	background-color: #0068FF;
	color: #fff;
}
