.container1 {
  position: relative;
  margin-top: 50px;
  margin-left: 50px;
  width: 500px;
  height: 300px;

}
.img-responsive{
  height: 300px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container1:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.container1 img {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 0;
   border:1px solid #666;
}



.container1:hover .title {
  top: 90px;
}

.button {
  position: absolute;
  width: 500px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;

}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: #17a78b;
  border: solid 5px #17a78b;
  z-index: 1;
  font-size: 20px;
}

.button a:hover{
  background-color: #fff;
  
}
.container1:hover .button {
  opacity: 1;
}

.mainproduct {
  border: 1px solid #CACACA;
  padding: 1em;
  margin-bottom: 20px;
  border-bottom: 5px solid #FF5733;
}

.mainproduct img {
  width: 250px;
  height: 200px;
}

.mainproduct:hover {
  border: 1px solid #000000;
  border-bottom: 5px solid #000000;
}

input[type="text"]{
    width: 100%;
    padding: 0;
    margin:  0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*dropdown menu*/
.dropdown-menu li {
  color: #000000;

}