@charset "UTF-8";
/* CSS Document */
body {
  font-size: 15px;
  background-color: #FFF;
}

.col-100 {
  padding: 10px;
}

.col-70 {
  width: 69%;
  float: left;
}

.col-30 {
  width: 29%;
  float: left;
}

.item {
  width: 30%;
  height: 200px;
  text-align: center;
  padding: 5px;
  margin: 10px 5px;
  float: left;
  border: 1px solid #ececec;
}

.item img {
  cursor: move;
}

.tooltip {
  position: absolute;
  margin-left: 62px;
  z-index: 3;
  display: none;
  background-color: #ffffff;
  border: 1px double #e8e8e8;
  box-shadow: 0px 0px 1px 1px #e8e8e8;
  color: #252525;
  padding: 15px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.drop-box {
  width: 100%;
  height: 300px;
  padding: 15px;
  margin-top: 70px;
  border: 1px dotted #999;
}

#item-list table {
  border-top: 1px dotted #cecece;
  border-bottom: 1px dotted #cecece;
  padding: 5px;
}

#total {
  text-transform: capitalize;
  font-size: 16px;
  padding: 5px;
  font-weight: 600;
}

.button {
  background: #2f2f2f;
  width: 15%;
  padding: 4px;
  text-decoration: none;
  color: #FFF;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
}

.remove {
  color: #FFF;
  background: #fd0c00;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-radius: 3px;
}
