body {
	margin: 0;
	padding-left: 20%;
	padding-right: 30%;
	padding-top: 20%;
}

div {
	font-family: Papyrus, fantasy;
	font-size: 28px;
}

.process {
	font-family: Papyrus, fantasy;
	font-size: 24px;
}